<!DOCTYPE html>
{% load static %}
{% comment %} {% load partials %} {% endcomment %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Django Blog
    {% endblock %}
  </title>
  {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
  <nav class="flex justify-center space-x-8 items-center py-4">
    <a href="/">
      <span role='img' aria-label="Home" title="Home">
        🏠
      </span>  
    </a> 
    <a href="/about">
      <span role='img' aria-label="About"title="About">
        😀
      </span>
    </a> 
    <a href="{% url 'posts:list' %}">
      <span role='img' aria-label="Posts" title="Posts">
        📰
      </span>
    </a> 
    {% comment %} <button class="btn btn-active btn-link">Link</button> {% endcomment %}
    {%if user.is_authenticated %}
    <a href="{% url 'posts:new-post' %}">
      <span role='img' aria-label="Posts" title="New Post">
        🆕New Post
      </span>
    </a> 
    <a href="{% url 'todos:todo_list' %}">
      <span role='img' aria-label="Todos" title="Todos">
        Todo
      </span>
    </a> 

    <form class="logout" action="{% url 'users:logout' %}" method="post">
      {% csrf_token %}
      <button class="logout-button" role='img' aria-label="User Logout" title="User Logout">
        👋Logout
      </button>
    </form>
    {% else %}

    <a href="{% url 'users:register' %}">
      <span role="img" aria-label="User Registration" title="User Registration">🚀Register</span>
    </a> 
    <a href="{% url 'users:login' %}">
      <span role="img" aria-label="User Login" title="User Login">🔏Login</span>
    </a>

    {% endif %}
    {% comment %} <a href="/posts">📰</a> | {% endcomment %}
  </nav>
    <main class="flex flex-col items-center">
      {% block content %}
      {% endblock %}
    </main>
  
</body>
</html>